<?xml version="1.0" encoding="utf-8"?>
<LinearLayout xmlns:android="http://schemas.android.com/apk/res/android"
    android:id="@+id/layout"
    android:layout_width="match_parent"
    android:layout_height="match_parent"
    android:orientation="vertical"
    android:background="#0f172a"
    android:padding="32dp"
    android:gravity="center">

    <TextView
        android:id="@+id/tvWelcome"
        android:layout_width="wrap_content"
        android:layout_height="wrap_content"
        android:text="Welcome to RestuAura"
        android:textSize="28sp"
        android:textStyle="bold"
        android:textColor="@android:color/white"
        android:layout_marginBottom="40dp" />

    <TextView
        android:layout_width="wrap_content"
        android:layout_height="wrap_content"
        android:text="Phone no :"
        android:textSize="18sp"
        android:textColor="@android:color/white"
        android:layout_gravity="start" />

    <EditText
        android:id="@+id/etPhone"
        android:layout_width="match_parent"
        android:layout_height="wrap_content"
        android:hint="Enter your phone number"
        android:textColorHint="#D3D3D3"
        android:textColor="@android:color/white"
        android:background="@android:drawable/edit_text"
        android:layout_marginBottom="16dp"
        android:inputType="phone" />

    <TextView
        android:layout_width="wrap_content"
        android:layout_height="wrap_content"
        android:text="Email Id :"
        android:textSize="18sp"
        android:textColor="@android:color/white"
        android:layout_gravity="start" />

    <EditText
        android:id="@+id/etEmail"
        android:layout_width="match_parent"
        android:layout_height="wrap_content"
        android:hint="eg: xyz@gmail.com"
        android:textColorHint="#D3D3D3"
        android:textColor="@android:color/white"
        android:background="@android:drawable/edit_text"
        android:layout_marginBottom="24dp"
        android:inputType="textEmailAddress" />

    <Button
        android:id="@+id/btnRegister"
        android:layout_width="match_parent"
        android:layout_height="50dp"
        android:text="Register"
        android:background="#00A8FF"
        android:textColor="@android:color/white"
        android:layout_marginTop="16dp"
        android:padding="12dp" />

</LinearLayout>